In [1]:
# Data Analysis
import numpy as np 
import pandas as pd 
import geopandas as gpd 

# Data Visualizations 
import matplotlib.pyplot as plt
import matplotlib.dates as mdates 
import seaborn as sns 
import plotly.express as px

In [3]:
# Read data from live data sources 
import requests
url = 'https://www.worldometers.info/coronavirus/'
r = requests.get(url, headers=None)
dfs = pd.read_html(r.text)

In [4]:
for df in dfs: 
    print(df)

    Country,Other  TotalCases NewCases  TotalDeaths  NewDeaths  \
0           China       81093      +39       3270.0        9.0
1           Italy       59138      NaN       5476.0        NaN
2             USA       35070   +1,524        458.0       39.0
3           Spain       33089   +4,321       2182.0      410.0
4         Germany       26198   +1,325        111.0       17.0
..            ...         ...      ...          ...        ...
189       Somalia           1      NaN          NaN        NaN
190         Syria           1      NaN          NaN        NaN
191   Timor-Leste           1      NaN          NaN        NaN
192        Uganda           1      NaN          NaN        NaN
193        Total:      349090    11660      15297.0      659.0

     TotalRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop
0           72703.0         5120            1749.0             56.00
1            7024.0        46638            3000.0            978.00
2             178.0        34434             795.0            106.00
3            3355.0        27552            2355.0            708.00
4             266.0        25821              23.0            313.00
..              ...          ...               ...               ...
189             NaN            1               NaN              0.06
190             NaN            1               NaN              0.06
191             NaN            1               NaN              0.80
192             NaN            1               NaN              0.02
193        100330.0       233463           11203.0             44.80

[194 rows x 9 columns]
    Country,Other  TotalCases NewCases  TotalDeaths  NewDeaths  \
0           China       81054      +46       3261.0        6.0
1           Italy       59138   +5,560       5476.0      651.0
2             USA       33546   +9,339        419.0      117.0
3           Spain       28768   +3,272       1772.0      391.0
4         Germany       24873   +2,509         94.0       10.0
..            ...         ...      ...          ...        ...
189       Somalia           1      NaN          NaN        NaN
190         Syria           1       +1          NaN        NaN
191   Timor-Leste           1      NaN          NaN        NaN
192        Uganda           1      NaN          NaN        NaN
193        Total:      337430    32440      14638.0     1631.0

     TotalRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop
0           72440.0         5353            1845.0             56.00
1            7024.0        46638            3000.0            978.00
2             178.0        32949             795.0            101.00
3            2575.0        24421            1785.0            615.00
4             266.0        24513              23.0            297.00
..              ...          ...               ...               ...
189             NaN            1               NaN              0.06
190             NaN            1               NaN              0.06
191             NaN            1               NaN              0.80
192             NaN            1               NaN              0.02
193         98364.0       224428           10649.0             43.30

[194 rows x 9 columns]

In [5]:
# Examine few rows 
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
0,China,81054,+46,3261.0,6.0,72440.0,5353,1845.0,56.0
1,Italy,59138,"+5,560",5476.0,651.0,7024.0,46638,3000.0,978.0
2,USA,33546,"+9,339",419.0,117.0,178.0,32949,795.0,101.0
3,Spain,28768,"+3,272",1772.0,391.0,2575.0,24421,1785.0,615.0
4,Germany,24873,"+2,509",94.0,10.0,266.0,24513,23.0,297.0

In [7]:
# Check data type 
type(df)

pandas.core.frame.DataFrame

In [8]:
# Total Cases 
df[['TotalCases']].dropna().astype(int).max()

TotalCases    337430
dtype: int64

In [9]:
# Total deaths 
df[['TotalDeaths']].dropna().astype(int).max()

TotalDeaths    14638
dtype: int64

In [10]:
# New deaths 
df[['NewDeaths']].dropna().astype(int).max()

NewDeaths    1631
dtype: int64

In [11]:
# Total recovered 
df[['TotalRecovered']].dropna().astype(int).max()

TotalRecovered    98364
dtype: int64

In [12]:
# Active cases 
df[['ActiveCases']].dropna().astype(int).max()

ActiveCases    224428
dtype: int64

In [13]:
# Serious conditions
df[['Serious,Critical']].dropna().astype(int).max()

Serious,Critical    10649
dtype: int64

In [14]:
# MildCondition = ActiveCases - Serious,Critical Conditions 
MildCondition = 67714 - 5990
print(MildCondition)

61724

In [ ]:
# Filling missing values 
data_cases.loc[:, 'TotalCases'].fillna(value=0, inplace=True)
data_cases.loc[:, 'NewCases'].fillna(value=0, inplace=True)
data_cases.loc[:, 'TotalDeaths'].fillna(value=0, inplace=True) 
data_cases.loc[:, 'NewDeaths'].fillna(value=0, inplace=True)
data_cases.loc[:, 'TotalRecovered'].fillna(value=0, inplace=True)
data_cases.loc[:, 'ActiveCases'].fillna(value=0, inplace=True)
data_cases.loc[:, 'Serious,Critical'].fillna(value=0, inplace=True)

In [ ]:
# Export dataset for cleaning and exploring 
df.to_csv('covid-19.csv', index=False, encoding='utf-8')

In [6]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>