In [1]:
# For Analysis 
import numpy as np 
import pandas as pd 
import geopandas as gpd 

# DateTime Format 
from datetime import datetime, timedelta, timezone

# Colors 
import calmap

# Grammar of graphics 
from plotnine import *

# 2D Plot 
import matplotlib.pyplot as plt 
import matplotlib.dates as mdates
import seaborn as sns 

# Interactive Visualizations 
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

## Data Import

In [3]:
# Import xlsx file and store each sheet in to a df list
xl_file = pd.ExcelFile("./data/data.xls",)
dfs = {sheet_name: xl_file.parse(sheet_name) for sheet_name in xl_file.sheet_names}

In [4]:
# Data from each sheet can be accessed via key
keylist = list(dfs.keys())

In [5]:
# Examine the sheet name 
keylist[1:10]

['2020-03-09-03-00',
 '2020-03-09-01-00',
 '2020-03-09-00-00',
 '2020-03-08-22-00',
 '2020-03-08-21-00',
 '2020-03-08-19-30',
 '2020-03-08-18-00',
 '2020-03-08-15-00',
 '2020-03-08-06-00']

## Data Exploring

In [6]:
# Examine first few rows 
dfs[keylist[0]].head(20)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,3/09/2020 06:00,67743,3007,46485
1,Guangdong,Mainland China,3/09/2020 06:00,1352,8,1260
2,Zhejiang,Mainland China,3/09/2020 06:00,1215,1,1176
3,Shandong,Mainland China,3/09/2020 06:00,758,6,700
4,Henan,Mainland China,3/09/2020 06:00,1272,22,1247
5,Anhui,Mainland China,3/09/2020 06:00,990,6,984
6,Jiangxi,Mainland China,3/09/2020 06:00,935,1,923
7,Hunan,Mainland China,3/09/2020 06:00,1018,4,979
8,Heilongjiang,Mainland China,3/09/2020 06:00,481,13,421
9,Sichuan,Mainland China,3/09/2020 06:00,539,3,466
10,Chongqing,Mainland China,3/09/2020 06:00,576,6,528
11,Jiangsu,Mainland China,3/09/2020 06:00,631,0,621
12,Beijing,Mainland China,3/09/2020 06:00,428,8,315
13,Guangxi,Mainland China,3/09/2020 06:00,252,2,230
14,Fujian,Mainland China,3/09/2020 06:00,296,1,295
15,Shanghai,Mainland China,3/09/2020 06:00,342,3,315
16,Hebei,Mainland China,3/09/2020 06:00,318,6,307
17,Shaanxi,Mainland China,3/09/2020 06:00,245,1,227
18,Yunnan,Mainland China,3/09/2020 06:00,174,2,170
19,Tianjin,Mainland China,3/09/2020 06:00,136,3,130

In [7]:
# Check datamatrix 
dfs[keylist[0]].shape

(182, 6)

In [8]:
# Basic info about dataset 
dfs[keylist[0]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
Province/State    82 non-null object
Country/Region    182 non-null object
Last Update       182 non-null object
Confirmed         182 non-null int64
Deaths            182 non-null int64
Recovered         182 non-null int64
dtypes: int64(3), object(3)
memory usage: 8.7+ KB

In [9]:
# Numerical summary of dataset
dfs[keylist[0]].describe()

          Confirmed       Deaths     Recovered
count    182.000000   182.000000    182.000000
mean     611.423077    21.280220    344.159341
std     5094.683379   224.897677   3450.524963
min        1.000000     0.000000      0.000000
25%        3.000000     0.000000      0.000000
50%       15.000000     0.000000      0.000000
75%      105.000000     1.000000     11.500000
max    67743.000000  3007.000000  46485.000000

## Data Cleaning

In [10]:
# Data Cleaning 
for key, df in dfs.items():
    dfs[key].loc[:, 'Confirmed'].fillna(value=0, inplace=True)
    dfs[key].loc[:, 'Deaths'].fillna(value=0, inplace=True)
    dfs[key].loc[:, 'Recovered'].fillna(value=0, inplace=True)
   
    # Convert cases into integer
    dfs[key] = dfs[key].astype({'Confirmed':'int64', 'Deaths':'int64', 'Recovered':'int64'})
    
    # Replace 
    dfs[key] = dfs[key].replace({'Country/Region': 'Mainland China'}, 'China')
    dfs[key] = dfs[key].replace({'Country/Region': 'Queensland'}, 'Brisbane')
    dfs[key] = dfs[key].replace({'Country/Region': 'New South Wales'}, 'Sydney')
    dfs[key] = dfs[key].replace({'Country/Region': 'Victoria'}, 'Melbourne')
    dfs[key]=dfs[key].replace({'Province/State':'South Australia'}, 'Adelaide')

    # DateTime Format 
    dfs[key]['Last Update'] = '0' + dfs[key]['Last Update']
    dfs[key]['Date_last_updated'] = [datetime.strptime(d, '%m/%d/%Y %H:%M') for d in dfs[key]['Last Update']]

In [11]:
# Take a look at cleaned data 
dfs[keylist[0]].head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date_last_updated
0,Hubei,China,03/09/2020 06:00,67743,3007,46485,2020-03-09 06:00:00
1,Guangdong,China,03/09/2020 06:00,1352,8,1260,2020-03-09 06:00:00
2,Zhejiang,China,03/09/2020 06:00,1215,1,1176,2020-03-09 06:00:00
3,Shandong,China,03/09/2020 06:00,758,6,700,2020-03-09 06:00:00
4,Henan,China,03/09/2020 06:00,1272,22,1247,2020-03-09 06:00:00

## Creating DataFrame for Cases

In [13]:
# Total No. of cases 
confirmed_cases = dfs[keylist[0]]['Confirmed'].sum()
deaths_cases = dfs[keylist[0]]['Deaths'].sum()
recovered_cases = dfs[keylist[0]]['Recovered'].sum()

In [14]:
# Print the Total no. of cases in first dataset
print("No. of Confirmed Cases = ", confirmed_cases)
print("No. of Death Cases = ", deaths_cases)
print("No. of Recovered Cases = ", recovered_cases)

No. of Confirmed Cases =  111279
No. of Death Cases =  3873
No. of Recovered Cases =  62637

## Confirmed Cases

In [15]:
# Construct new dataframe called df_confirmed for line plot 
DateList = []
ChinaList =[]
OtherList = []

for key, df in dfs.items():
    # Group by Country/Region and Sum
    dfTemp = df.groupby(['Country/Region'])['Confirmed'].agg(np.sum)
    # Make a df with dfTemp index and values and store in dfTemp
    dfTemp = pd.DataFrame({'Code':dfTemp.index, 'Confirmed':dfTemp.values})
    # Sorting values by Confirmed 
    dfTemp = dfTemp.sort_values(by='Confirmed', ascending=False).reset_index(drop=True)
    # Append dfTemp to DateList in df[0]
    DateList.append(df['Date_last_updated'][0])
    # Append dfTemp to ChinaList df[0]
    ChinaList.append(dfTemp['Confirmed'][0])
    # Append dfTemp to Otherlist df[1:]
    OtherList.append(dfTemp['Confirmed'][1:].sum())

# Make Confirmed dataframe with DateList, ChinaList, OtherList 
# Column name Date, Mainland China, Other Locations 
df_confirmed = pd.DataFrame({'Date':DateList,
                             'Mainland China':ChinaList,
                             'Other locations':OtherList})  


# Sorting and index reset 
df_confirmed['date_day']=[d.date() for d in df_confirmed['Date']]
df_confirmed=df_confirmed.groupby(by=df_confirmed['date_day'], sort=False).transform(max).drop_duplicates(['Date'])
df_confirmed['Total']=df_confirmed['Mainland China']+df_confirmed['Other locations']
df_confirmed=df_confirmed.reset_index(drop=True)

In [16]:
# Examine confirmed dataset
df_confirmed.head()

                 Date  Mainland China  Other locations   Total
0 2020-03-09 06:00:00           80735            30544  111279
1 2020-03-08 22:00:00           80735            29364  110099
2 2020-03-07 22:00:00           80695            25501  106196
3 2020-03-06 20:30:00           80651            21391  102042
4 2020-03-05 20:30:00           80551            17876   98427

## Recovered Cases

In [17]:
# Construct new dataframe called df_recovered for line plot 
DateList = []
ChinaList =[]
OtherList = []

for key, df in dfs.items():
    # Group by Country/Region and Sum
    dfTemp = df.groupby(['Country/Region'])['Recovered'].agg(np.sum)
    # Make a df with dfTemp index and values and store in dfTemp
    dfTemp = pd.DataFrame({'Code':dfTemp.index, 'Recovered':dfTemp.values})
    # Sorting values by Confirmed 
    dfTemp = dfTemp.sort_values(by='Recovered', ascending=False).reset_index(drop=True)
    # Append dfTemp to DateList in df[0]
    DateList.append(df['Date_last_updated'][0])
    # Append dfTemp to ChinaList df[0]
    ChinaList.append(dfTemp['Recovered'][0])
    # Append dfTemp to Otherlist df[1:]
    OtherList.append(dfTemp['Recovered'][1:].sum())

# Make Confirmed dataframe with DateList, ChinaList, OtherList 
# Column name Date, Mainland China, Other Locations 
df_recovered = pd.DataFrame({'Date':DateList,
                             'Mainland China':ChinaList,
                             'Other locations':OtherList})  


# Sorting and index reset 
df_recovered['date_day']=[d.date() for d in df_recovered['Date']]
df_recovered=df_recovered.groupby(by=df_recovered['date_day'], sort=False).transform(max).drop_duplicates(['Date'])
df_recovered['Total']=df_recovered['Mainland China']+df_recovered['Other locations']
df_recovered=df_recovered.reset_index(drop=True)

In [28]:
df_recovered.head()

                 Date  Mainland China  Other locations  Total
0 2020-03-09 06:00:00           58706             3931  62637
1 2020-03-08 22:00:00           58587             3669  62256
2 2020-03-07 22:00:00           57053             3068  60121
3 2020-03-06 20:30:00           55392             2184  57576
4 2020-03-05 20:30:00           53714             1880  55594

## Deaths Cases

In [18]:
# Construct new dataframe called df_deaths for line plot 
DateList = []
ChinaList =[]
OtherList = []

for key, df in dfs.items():
    # Group by Country/Region and Sum
    dfTemp = df.groupby(['Country/Region'])['Deaths'].agg(np.sum)
    # Make a df with dfTemp index and values and store in dfTemp
    dfTemp = pd.DataFrame({'Code':dfTemp.index, 'Deaths':dfTemp.values})
    # Sorting values by Confirmed 
    dfTemp = dfTemp.sort_values(by='Deaths', ascending=False).reset_index(drop=True)
    # Append dfTemp to DateList in df[0]
    DateList.append(df['Date_last_updated'][0])
    # Append dfTemp to ChinaList df[0]
    ChinaList.append(dfTemp['Deaths'][0])
    # Append dfTemp to Otherlist df[1:]
    OtherList.append(dfTemp['Deaths'][1:].sum())

# Make Confirmed dataframe with DateList, ChinaList, OtherList 
# Column name Date, Mainland China, Other Locations 
df_deaths = pd.DataFrame({'Date':DateList,
                             'Mainland China':ChinaList,
                             'Other locations':OtherList})  


# Sorting and index reset 
df_deaths['date_day']=[d.date() for d in df_deaths['Date']]
df_deaths=df_deaths.groupby(by=df_deaths['date_day'], sort=False).transform(max).drop_duplicates(['Date'])
df_deaths['Total']=df_deaths['Mainland China']+df_deaths['Other locations']
df_deaths=df_deaths.reset_index(drop=True)

In [30]:
df_deaths.head()

                 Date  Mainland China  Other locations  Total
0 2020-03-09 06:00:00            3119              754   3873
1 2020-03-08 22:00:00            3119              711   3830
2 2020-03-07 22:00:00            3097              502   3599
3 2020-03-06 20:30:00            3070              419   3489
4 2020-03-05 20:30:00            3042              342   3384

## Linear & Logarithmic Line Plot for Total Cases, Deaths, Recovered

In [ ]:
# Total COVID-19 Cases
fig =